.job-page-body {
  min-height: 80vh;
  background-color: white;
  padding: 2%;
  border: 1px solid rgb(209, 203, 203);
}

.job-page-body.loader {
  text-align: center;
  font-size: larger;
}

.job-page-body section {
  margin: 5% 0%;
}

.job-page-body h3,
h4 {
  text-align: center;
}

.job-page-body .card-header {
  font-weight: bolder;
  cursor: pointer;
}

.job-page-description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2%;
}

.job-page-description .img-wrapper img {
  max-width: 250px;
  max-height: 150px;
  border: 1px solid black;
}

.job-page-description .text-wrapper {
  max-width: 60%;
  border-bottom: 1px solid rgb(117, 115, 115);
}

.job-page-details {
  border-bottom: 1px solid rgb(117, 115, 115);
}
.job-page-details .table-wrapper {
  display: flex;
  justify-content: space-around;
}

.job-page-details .table-wrapper table {
  margin: 2%;
}

.job-page-details .table-wrapper td:first-of-type {
  font-weight: bolder;
  text-decoration: underline;
}
.job-page-details .table-wrapper td:first-of-type::after {
  content: ":";
}

.job-page-location {
  overflow: hidden;
  min-height: 400px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.map-wrapper {
  margin: 0, auto;
  min-width: 700px;
}

.job-page-location .text-wrapper {
  z-index: 5;
}

@media (max-width: 990px) {
  .job-page-location {
    flex-direction: column;
  }

  .job-page-location .text-wrapper {
    max-width: 40%;
    margin: 420px auto 20px auto;
    z-index: 5;
  }
}
@media (max-width: 760px) {
  .job-page-details .table-wrapper {
    align-items: center;
    flex-direction: column;
  }
  
  .table-wrapper .table-sm{
    max-width: 80%;
  }
}
@media (max-width: 480px) {
  .job-page-description {
    flex-direction: column-reverse;
  }

  .job-page-description .text-wrapper{
    max-width: 90%;
  }
}
